@model IssueTracker.Services.Models.Issue.IssueDetailsModel

@{
    ViewBag.Title = "Issue Details";
}
<h2>View Issue</h2>
<div class="row">
    <div class="col-md-6">
        <section>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>@Model.Title</strong></div>
                <div class="panel-body">
                    <dl class="dl-horizontal well">
                        <dt>
                            @Html.DisplayNameFor(model => model.Assignee)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Assignee)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DueDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DueDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Priority)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Priority)
                        </dd>
                        @if (Model.Labels.Any())
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Labels)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LabelsString)
                            </dd>
                        }
                    </dl>
                    <div>
                        <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId" class="btn btn-default">
                            Back to Project
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @if (Model.CanComment || Model.Comments.Any())
    {
        <div class="col-md-6">
            <section>
                @await Component.InvokeAsync("Comment", new { Model.Comments, Model.CanComment })
            </section>
        </div>
    }
</div>