@model IEnumerable<IssueTracker.Services.Models.IssueListModel>

@{
    var withProject = ViewBag.WithProject as bool? == true;
}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee)
            </th>
            @if (withProject)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignee)
                </td>
                @if (withProject)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Project)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Issues", new { projectId = ViewBag.ProjectId, id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
